
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
.grid-item {
    height: 449px;
    width: 700px;
    margin-left: 5% ;
}
.grid-item img {
    height: 449px;
    width: 700px;
}
.tt{
   
    background-position: fixed;
     
    margin-left: 80%;
    transform: translateY(+110%);   
    z-index:2
}

